USE [master]
GO
/****** Object:  Database [TesteDevFullStack]    Script Date: 30/06/2022 17:38:53 ******/
CREATE DATABASE [TesteDevFullStack]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TesteDevFullStack', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TesteDevFullStack.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TesteDevFullStack_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TesteDevFullStack_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TesteDevFullStack].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TesteDevFullStack]
GO
/****** Object:  Table [dbo].[TBCliente]    Script Date: 30/06/2022 17:38:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBCliente](
	[idCliente] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nchar](60) NOT NULL,
	[uf] [nchar](2) NOT NULL,
	[celular] [nchar](11) NULL,
 CONSTRAINT [PK_TBCliente] PRIMARY KEY CLUSTERED 
(
	[idCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBFinanciamento]    Script Date: 30/06/2022 17:38:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBFinanciamento](
	[IdFinanciamento] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[tipoFinanciamento] [int] NOT NULL,
	[valorTotal] [float] NOT NULL,
	[dataVencimento] [datetime] NOT NULL,
 CONSTRAINT [PK_TBFinanciamento] PRIMARY KEY CLUSTERED 
(
	[IdFinanciamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBParcela]    Script Date: 30/06/2022 17:38:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBParcela](
	[idParcela] [int] IDENTITY(1,1) NOT NULL,
	[idFinanciamento] [int] NOT NULL,
	[numeroParcelas] [int] NOT NULL,
	[valorParcela] [float] NULL,
	[dataVencimento] [datetime] NOT NULL,
	[dataPagamento] [datetime] NULL,
 CONSTRAINT [PK_TBParcela] PRIMARY KEY CLUSTERED 
(
	[idParcela] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBFinanciamento]  WITH CHECK ADD  CONSTRAINT [FK_TBFinanciamento_TBCliente] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[TBCliente] ([idCliente])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TBFinanciamento] CHECK CONSTRAINT [FK_TBFinanciamento_TBCliente]
GO
ALTER TABLE [dbo].[TBParcela]  WITH CHECK ADD  CONSTRAINT [FK_TBParcela_TBFinanciamento] FOREIGN KEY([idFinanciamento])
REFERENCES [dbo].[TBFinanciamento] ([IdFinanciamento])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TBParcela] CHECK CONSTRAINT [FK_TBParcela_TBFinanciamento]
GO
USE [master]
GO
